$c1: #080908;
$c2: #E6E8e6;
$c3: #3772FF;
$c4: #DF2935;
$c5: #FDCA40;

@font-face {
    font-family: fonty;
    src: url(/assets/fonts/MADEINFINITY.otf);
}

html{
    font-family: fonty;
    color: $c2;
    padding: 0.5em;
    padding-bottom: 0;
    animation:infinite forwards t 1s;
}

body{
    margin: auto;
    display: block;
    background-color: $c1;
}

section{
    margin: auto;
    display: block;
    padding: 2.5em;
    margin: 2.5em auto;
}

section:not(section:first-of-type){
    width: calc(100vw/3*2);
}

section:first-of-type{
    margin-top: 0;
}

section:last-of-type{
    margin-bottom: 0;
}

h1{
    font-size: 3em;
    margin: 0;
}

h2{
    font-size: 2em;
}

.flex-container{
    display: flex;
}

.flex-item{
    flex: var(--i);
}

.note{
    opacity: 0.5;
    text-align: center;
}

//Intro

#intro hr{
    min-height: 0.75vw;
    background-color: $c2;
    border: none;
    margin: 0;
    max-width: 58vw;
    margin: auto;
}

#intro{
    min-height: calc(100vh - 96px);
    display: flex;
    justify-content: center;

    background: scroll linear-gradient(transparent 25%, $c1), url(/assets/images/background.jpg) fixed;
    background-size: cover;

}

#title_container{
    transform-origin: center;
}

#intro div{
    margin-top: 10em;
}

#intro h1{
    text-align: center;
    font-size: 15vw;
    filter: drop-shadow(0 0 50px $c2);
}

#intro h2{
    text-align: center;
    opacity: 0.75;
    letter-spacing: 0.45vw;
    margin-top: 0;
    font-size: 2.5vw;
    filter: blur(1px);
}

//about me
#about-me img{
    background-color: $c2;
}

//übersicht
.module-name{
    font-weight: bold;
}