@font-face {
  font-family: fonty;
  src: url(/assets/fonts/MADEINFINITY.otf);
}
html {
  font-family: fonty;
  color: #E6E8e6;
  padding: 0.5em;
  padding-bottom: 0;
  background-color: #E6E8e6;
}

body {
  margin: auto;
  display: block;
  background-color: #080908;
}

main > hr {
  border-color: #ffc400;
  border-width: 2px;
  border-style: solid;
  max-width: 75%;
}

section {
  margin: auto;
  display: block;
  padding: 2.5em;
  margin: 2.5em auto;
}

section:not(section:first-of-type) {
  width: 66.6666666667vw;
}

section:first-of-type {
  margin-top: 0;
}

section:last-of-type {
  margin-bottom: 0;
}

h1 {
  font-size: 3em;
  margin: 0;
}

h2 {
  font-size: 2em;
}

.flex-container {
  display: flex;
}

.flex-item {
  flex: var(--i);
}

.note {
  opacity: 0.5;
  text-align: center;
}

#intro hr {
  min-height: 0.75vw;
  background-color: #E6E8e6;
  border: none;
  margin: 0;
  max-width: 58vw;
  margin: auto;
}

#intro {
  min-height: calc(100vh - 5.5em);
  display: flex;
  justify-content: center;
  background-color: #ffc400;
}

#intro * {
  transform-origin: center;
}

#title_container {
  transform-origin: center;
  filter: drop-shadow(0 0 5px #080908);
}

#title_container div {
  height: 0.5em;
  width: 100%;
  background-color: #E6E8e6;
}

#intro > div {
  margin-top: 10em;
}

#intro h1 {
  text-align: center;
  font-size: 19.5vw;
}

#intro h2 {
  text-align: center;
  letter-spacing: 0.45vw;
  margin-top: 0;
  font-size: 2.5vw;
}

#intro_arrow {
  fill: #E6E8e6;
  width: 2.5em;
  position: absolute;
  bottom: 0;
  animation: arrow_bounce 2s infinite cubic-bezier(0, 1, 0, 1);
}

@keyframes arrow_bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
#overview h1 {
  text-align: center;
  font-size: 5em;
  flex: 3;
}

#overview img {
  background-color: #ffc400;
  margin: auto;
}

#overview {
  margin-top: 7.5em;
  display: flex;
  align-items: center;
}

#overview img {
  flex: 1;
}

#projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2em;
  gap: 1.5em;
}

.project-item {
  padding: 1em;
  background-color: #ffc400;
  color: #080908;
  transition: 0.25s;
  transform: scale(0.9);
}

.project-item:hover {
  transform: scale(1);
}

.project-item img {
  width: 100%;
}

#about-me img {
  background-color: #E6E8e6;
}

.about-me-container {
  display: grid;
  gap: 2em;
  padding: 2em;
  padding-top: 0;
  grid-template-columns: repeat(3, 1fr);
}

.about-me-item h3 {
  margin: 0;
}

.about-me-item p {
  margin: 0;
}

.module-name {
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  * {
    display: block !important;
  }
  h1 {
    font-size: 7.5em;
    text-align: center;
  }
  h2 {
    font-size: 5em;
  }
  h3 {
    font-size: 3em;
  }
  p {
    font-size: 2em;
  }
  .about-me-item {
    margin-bottom: 1em;
  }
  .module-name {
    font-size: 1.5em;
  }
  section {
    margin: 0;
    width: auto !important;
    padding: 2.5em !important;
  }
  main > hr {
    border-color: #ffc400;
    border-width: 2px;
    border-style: solid;
    max-width: calc(100% - 10vw);
  }
}/*# sourceMappingURL=styles.css.map */