$c1: #080908;
$c2: #E6E8e6;
$c3: #ffc400;
$c4: #c9001b;
$c5: #3290e7;

@font-face {
    font-family: fonty;
    src: url(/assets/fonts/MADEINFINITY.otf);
}

html{
    font-family: fonty;
    color: $c2;
    padding: 0.5em;
    padding-bottom: 0;
    background-color: $c2;
}

body{
    margin: auto;
    display: block;
    background-color: $c1;
}

main > hr{
    border-color: $c3;
    border-width: 2px;
    border-style: solid;
    max-width: 75%;
}

section{
    margin: auto;
    display: block;
    padding: 2.5em;
    margin: 2.5em auto;
}

section:not(section:first-of-type){
    width: calc(100vw/3*2);
}

section:first-of-type{
    margin-top: 0;
}

section:last-of-type{
    margin-bottom: 0;
}

h1{
    font-size: 3em;
    margin: 0;
}

h2{
    font-size: 2em;
}

.flex-container{
    display: flex;
}

.flex-container > div{
    flex: var(--i);
}

.note{
    opacity: 0.5;
    text-align: center;
}

//Intro

#intro hr{
    min-height: 0.75vw;
    background-color: $c2;
    border: none;
    margin: 0;
    max-width: 58vw;
    margin: auto;
}

#intro{
    min-height: calc(100vh - 5.5em);
    display: flex;
    align-items: center;


    background-color: $c3;
}

#title_container{
    transform-origin: center;
    filter: drop-shadow(0 0 5px $c1);
    
    flex: 1;
}

#title_container div{
    height: 0.5em;
    width: 100%;
    background-color: $c2;
}

#intro h1{
    text-align: center;
    font-size: 19.5vw;
}

#intro h2{
    text-align: center;
    letter-spacing: 0.45vw;
    margin-top: 0;
    font-size: 2.5vw;
}

#intro_arrow{
    fill: $c2;
    width: 2.5em;
    
    position: absolute;
    bottom: 0;
    right: 50%;
    left: 50%;
    animation: arrow_bounce 2s infinite cubic-bezier(0,1,0,1);
}

@keyframes arrow_bounce {
    0%{
        transform: translateY(0px)
    }

    50%{
        transform: translateY(-10px)
    }

    100%{
        transform: translateY(0px)
    }
}

//overview

#overview h1{
    text-align: center;
    font-size: 5em;    
    flex: 3;

}

#overview img{
    background-color: $c3;
    margin: auto;
}

#overview{
    margin-top: 7.5em;
    display: flex;
    align-items: center;
}

#overview img{
    flex: 1;
    filter: drop-shadow(1em 1em $c2);
}

//projects
#projects-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2em;
    gap: 1.5em;
}

.project-item{
    padding: 1em;
    background-color: $c3;
    color: $c1;
    transition: 0.25s;
    transform: scale(0.9);
    filter: drop-shadow(0.5em 0.5em 0px $c2);
}

.project-item:hover{
    transform: scale(1.05);
    filter: drop-shadow(1em 1em 0px $c2);
}

.project-item img{
    width: 100%;
    transform: scale(0.95);
    transition: 0.25s;
    filter: blur(0.1em) drop-shadow(0 0 0em $c1);
}

.project-item:hover img{
    transform: scale(1.05);
    filter: blur(0em) drop-shadow(0 0 1em $c1);
}

//about me
#about-me img{
    background-color: $c2;
}

.about-me-container{
    display: grid;
    gap: 2em;
    padding: 2em;
    padding-top: 0;
    grid-template-columns: repeat(3, 1fr);
}

.about-me-item h3{
    margin: 0;
}

.about-me-item p{
    margin: 0;
}

#about-me a{
    color: $c2;
}

//modules
.module-name{
    font-weight: bold;
}

//footer
footer{
    color: $c1;
    text-align: center;
    background-color: $c3;
}

footer a{
    color: $c1;
}

@media screen and (max-width: 1000px) {
    *:not(#intro){
        display: block !important;
    }
    
    h1{
        font-size: 7.5em;
        text-align: center ;
    }

    h2{
        font-size: 5em;
    }

    h3{
        font-size: 3em;
    }

    p{
        font-size: 2em;
    }

    .about-me-item{
        margin-bottom: 1em;
    }

    .module-name{
        font-size: 1.5em;
    }

    section{
        margin: 0;
        width: auto !important;
        padding: 2.5em !important;
    }

    main > hr{
        border-color: $c3;
        border-width: 2px;
        border-style: solid;
        max-width: calc(100% - 10vw);
    }
    
}