$c1: #080908;
$c2: #E6E8e6;
$c3: #ffc400;
$c4: #c9001b;
$c5: #3290e7;

@font-face {
    font-family: fonty;
    src: url(/assets/fonts/MADEINFINITY.otf);
}

html{
    font-family: fonty;
    color: $c2;
    padding: 0.5em;
    padding-bottom: 0;
    background-color: $c2;
}

body{
    margin: auto;
    display: block;
    background-color: $c1;
}

section{
    margin: auto;
    display: block;
    padding: 2.5em;
    margin: 2.5em auto;
}

section:not(section:first-of-type){
    width: calc(100vw/3*2);
}

section:first-of-type{
    margin-top: 0;
}

section:last-of-type{
    margin-bottom: 0;
}

h1{
    font-size: 3em;
    margin: 0;
}

h2{
    font-size: 2em;
}

.flex-container{
    display: flex;
}

.flex-item{
    flex: var(--i);
}

.note{
    opacity: 0.5;
    text-align: center;
}

//Intro

#intro hr{
    min-height: 0.75vw;
    background-color: $c2;
    border: none;
    margin: 0;
    max-width: 58vw;
    margin: auto;
}

#intro{
    min-height: calc(100vh - 5.5em);
    display: flex;
    justify-content: center;

    background-color: $c3;
}


#title_container{
    transform-origin: center;
    filter: drop-shadow(0 0 5px $c1);
}

#title_container div{
    height: 0.5em;
    width: 100%;
    background-color: $c2;
}

#intro > div{
    margin-top: 10em;
}

#intro h1{
    text-align: center;
    font-size: 19.5em;
}

#intro h2{
    text-align: center;
    letter-spacing: 0.45vw;
    margin-top: 0;
    font-size: 2.5vw;
}

#intro_arrow{
    fill: $c2;
    width: 2.5em;
    
    position: absolute;
    bottom: 0;
    animation: arrow_bounce 2s infinite cubic-bezier(0,1,0,1);
}

@keyframes arrow_bounce {
    0%{
        transform: translateY(0px)
    }

    50%{
        transform: translateY(-10px)
    }

    100%{
        transform: translateY(0px)
    }
}

//about me
#about-me img{
    background-color: $c2;
}

.about-me-container{
    display: grid;
    gap: 2em;
    padding: 2em;
    padding-top: 0;
    grid-template-columns: repeat(3, 1fr);
}

.about-me-item h3{
    margin: 0;
}

.about-me-item p{
    margin: 0;
}

//übersicht
.module-name{
    font-weight: bold;
}